test 1<!-- <div class="container" *ngIf="bookData && bookData.volumeInfo && !showLoader">
	<div class="well col-xs-12">
		<img class="pull-left img-size" src="{{bookData.volumeInfo.imageLinks.smallThumbnail}}" />
		<div class="pull-left book-info">
			<h4 class="well-title">{{bookData.volumeInfo.title}}</h4>
			<h5>{{bookData.volumeInfo.subtitle}}</h5>

			<links [url]="bookData.saleInfo.buyLink" text="Buy Link"></links>
			<links [url]="bookData.volumeInfo.previewLink" text="About"></links>
			<links [url]="bookData.accessInfo.webReaderLink" text="Web reader link"></links>
			<links [url]="bookData.accessInfo.acsTokenLink" text="PDF link"></links>
			<links [url]="bookData.accessInfo.downloadLink" text="Download link"></links>

			<book-info [data]="bookData.volumeInfo.averageRating" text="Average Rating"></book-info>
			<book-info [data]="bookData.volumeInfo.ratingsCount" text="Ratings Count"></book-info>
			<book-info [data]="bookData.pageCount" text="Page Count"></book-info>
			<book-info [data]="bookData.volumeInfo.publishedDate" text="Published Date"></book-info>
			<book-info [data]="bookData.volumeInfo.publisher" text="Publisher"></book-info>

			<span *ngIf="bookData.volumeInfo.categories && bookData.volumeInfo.categories.length > 0">
				<strong>Categories: </strong>
				<span *ngFor="let category of bookData.volumeInfo.categories">
					{{category}}{{last ? '' : ', '}}
				</span><br />
			</span>
			<span>
				<strong>Price: </strong>
				<span *ngIf="bookData.saleInfo.saleability === 'FOR_SALE'">Rs. {{bookData.saleInfo.listPrice.amount}}</span>
				<span *ngIf="bookData.saleInfo.saleability === 'NOT_FOR_SALE'">Not available</span>
			</span><br /><br />
			<p>
				<strong>Description: </strong>
				<span *ngIf="bookData.volumeInfo.description" [innerHTML]="bookData.volumeInfo.description"></span>
				<span *ngIf="!bookData.volumeInfo.description">Not available</span>
			</p>
		</div>
	</div>
</div>
<div class='loader' *ngIf="showLoader">
	<div class='loader--dot'></div>
	<div class='loader--dot'></div>
	<div class='loader--dot'></div>
	<div class='loader--dot'></div>
	<div class='loader--dot'></div>
	<div class='loader--dot'></div>
	<div class='loader--text'></div>
</div>
 -->