<div id="header" class="page-header" ng-controller="headerController">
	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav" *ngFor="#item of headerItems">
				<li *ngIf="item.showBtn" (click)="headerFunc($event, item.clickFunc)">
					<a herf="#">{{item.text}}</a>
				</li>
			</ul>
		</div>
	</nav>
	<img src="{{imgUrl}}" alt="" />
	<div class="row">
		<div class="col-md-12">
			<h2>Books demo app</h2>
		</div>
	</div>
</div>
